@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

*{
    box-sizing: border-box;
}

html{
    font-family: 'Noto Sans JP', sans-serif;
}

body{
    margin: 0;
    background-image: url('https://static.vecteezy.com/system/resources/previews/006/852/804/original/abstract-blue-background-simple-design-for-your-website-free-vector.jpg');
    
}
.py-4{
    display:flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:1rem;
    margin-bottom: 5rem;
    text-align: left;
    height: 25rem;
    width:25rem;
    border: 1px solid rgb(87, 83, 76);
    background-color: rgb(55, 71, 77);
    color:white;
    border-radius: 12px;
    margin-top: 15px;
    /* margin-left: 16rem; */
    
}

.map{
    /* display: flex;
    flex-wrap: wrap;
    align-items: center; */
    position:absolute;
    justify-content: center;
    margin-left: 65rem;
    /* margin-bottom: 1700rem; */
    top: 15%;
    
}
